@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@100;400;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 5px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  flex: 4;
  padding: 15px 7rem;
  align-items: center;
}

.hero-section {
  display: flex;
  padding: 4rem 0;
  gap: 32px;
}

.hero-header {
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.signup-btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 1em;
  font-weight: bold;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
}

.hero-image {
  width: 45%;
  border: 1px solid #f9faf8;
}

.slider-section > h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 70px;
}

.card {
  width: 12%;
}

.card-img {
  max-width: 100%;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

.card-text {
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 5rem 7rem;
}

.quote-text {
  text-align: justify;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 0;
}

cite {
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-align: end;
  margin-top: 0;
}

cite::before {
  content: '- ';
}

.cta-section {
  color: #e5e7eb;
  /* padding: 4rem 10rem; */
  padding: 5rem 7rem;
}

.cta-content {
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 1rem;
}

.cta-text > h2 {
  margin-bottom: 0;
}

.cta-text > p {
  margin-top: 5px;
}

.cta-content > .signup-btn {
  border: 2px solid #e5e7eb;
  align-self: center;
}

.header,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.logo a {
  color: #f9faf8;
}
.navbar {
  display: flex;
  align-items: flex-start;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 15px;
  margin: 0 0 0 auto;
  padding: 0;
  color: #f9faf8;
}

.footer {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
